/.bin
/cover.out
/internal/adaptors/application/parameter/defaultparameters/endpoint_generated.go
/vendor
/.env
/.registry/server.json
AGENTS.md
CLAUDE.md
.agents
.claude
*.swp
*.swo
matlab/matlab_mcp_toolbox/mcp/+matlab_mcp/
